asn1crypto==0.24.0
astroid==2.2.5
Beaker==1.10.0
blivet==3.1.2
blivet-gui==2.1.10
Brlapi==0.6.7
cffi==1.11.5
chardet==3.0.4
chrome-gnome-shell==0.0.0
coverage==4.5.1
cryptography==2.3
cupshelpers==1.0
cycler==0.10.0
decorator==4.3.0
distro==1.3.0
Django==2.2.10
djangorestframework==3.9.2
fros==1.1
gpg==1.12.0
humanize==0.5.1
idna==2.7
iniparse==0.4
isc==2.0
isort==4.3.13
kiwisolver==1.0.1
langtable==0.0.41
lazy-object-proxy==1.3.1
Mako==1.0.6.dev0
MarkupSafe==1.0
matplotlib==3.0.3
mccabe==0.6.1
ntplib==0.3.3
numpy==1.16.2
olefile==0.46
ordered-set==2.0.2
Paste==2.0.3
pid==2.1.1
Pillow==5.3.0
ply==3.9
productmd==1.19
pwquality==1.4.0
pycairo==1.17.1
pycparser==2.14
pycrypto==2.6.1
pycups==1.9.72
pycurl==7.43.0.2
pydbus==0.6.0
pyenchant==2.0.0
PyGObject==3.30.4
pyinotify==0.9.6
pykickstart==3.16
pylint==2.3.1
pyOpenSSL==19.0.0
pyparsing==2.3.1
pyparted==3.11.0
PySocks==1.6.8
python-augeas==0.5.0
python-dateutil==2.7.5
python-meh==0.47
pytz==2018.5
pyudev==0.21.0
pyxdg==0.26
requests==2.20.0
requests-file==1.4.3
requests-ftp==0.3.1
rpm==4.14.2.1
Rx==1.6.1
sepolicy==1.1
setools==4.1.1
simpleline==1.4
six==1.11.0
slip==0.6.4
slip.dbus==0.6.4
sos==3.6
SSSDConfig==2.0.0
systemd-python==234
Tempita==0.5.1
twitch-python==0.0.8
typed-ast==1.3.1
urllib3==1.24.1
wrapt==1.11.1
